USE [master]
GO
/****** Object:  Database [KafeKasaSistemi]    Script Date: 7.01.2025 13:46:43 ******/
CREATE DATABASE [KafeKasaSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KafeKasaSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KafeKasaSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KafeKasaSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KafeKasaSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KafeKasaSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KafeKasaSistemi]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 7.01.2025 13:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 7.01.2025 13:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Masalar]    Script Date: 7.01.2025 13:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masalar](
	[MasaID] [int] IDENTITY(1,1) NOT NULL,
	[MasaAdi] [nvarchar](50) NOT NULL,
	[Durum] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MasaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 7.01.2025 13:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[SatisID] [int] NULL,
	[Tarih] [datetime] NOT NULL,
	[OdemeYontemi] [nvarchar](50) NOT NULL,
	[Tutar] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisDetaylari]    Script Date: 7.01.2025 13:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisDetaylari](
	[SatisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SatisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
	[AraToplam] [decimal](10, 2) NOT NULL,
	[Durum] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SatisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satislar]    Script Date: 7.01.2025 13:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satislar](
	[SatisID] [int] IDENTITY(1,1) NOT NULL,
	[MasaID] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[ToplamTutar] [decimal](10, 2) NOT NULL,
	[Durum] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 7.01.2025 13:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[KategoriID] [int] NOT NULL,
	[Stok] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Masalar] ADD  DEFAULT ('Boş') FOR [Durum]
GO
ALTER TABLE [dbo].[Odemeler] ADD  CONSTRAINT [DF_OdemeYontemi]  DEFAULT ('Nakit') FOR [OdemeYontemi]
GO
ALTER TABLE [dbo].[SatisDetaylari] ADD  DEFAULT ('Bekliyor') FOR [Durum]
GO
ALTER TABLE [dbo].[Satislar] ADD  DEFAULT ('Aktif') FOR [Durum]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [Stok]
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([SatisID])
REFERENCES [dbo].[Satislar] ([SatisID])
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SatisDetaylari_Satislar] FOREIGN KEY([SatisID])
REFERENCES [dbo].[Satislar] ([SatisID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisDetaylari] CHECK CONSTRAINT [FK_SatisDetaylari_Satislar]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
USE [master]
GO
